{% extends 'base.html' %}

{% block title %}Датчики{% endblock %}

{% block content %}

<style type='text/css'>
	input, textarea {border-color: red; }
</style>

{% if request.user.is_authenticated %}

    <h5> Редактирование датчика </h5>

<hr>
                            {% if dev %}
                                {% for c in dev %}
                                    <p>
                                         </br>
                                        <a href="{% url 'ai:start_edit_page' c.devname %}">-{{c.devname }} | {{ c.datetime | date:"Y-m-d H:i:s"}} | MAC-адрес ={{c.mac}} | {{c.comment }}</a>

                                    </p>
                                {% endfor %}

                            {% else %}
                                    зарегистрированных датчиков не найдено
                            {% endif %}
    </hr>



<div class="col-12">
    <form action = "{% url 'ai:save_edit_dev_page' %}" method = "POST">

        {% csrf_token %}

        <input id="devname" name="devname" type="text" placeholder="devname"  value="{{devname}}"   >  - имя устройства только для суперюзера (например: Francheska)  </br>
         </br>

        <input id="comment" name="comment" type="text" placeholder="comment"  value="{{comment}}"   >  - описание устройства (например: датчик на кухне)  </br>
        </br>

        <input id="gazname" name="gazname" type="text" placeholder="gazname"  value="{{gazname}}"   >  - отслеживаемый газ (например: CH4, LPG или CO)  </br>
        </br>
        <input id="tmin" name="tmin" type="text" placeholder="tmin"  value="{{tmin}}"   >  - нижнее пороговое значение температуры (<sup>o</sup>C)  </br>
        </br>
        <input id="tmax" name="tmax" type="text" placeholder="tmax"  value="{{tmax}}"   >  - верхнее пороговое значение температуры (<sup>o</sup>C)  </br>
        </br>

        <input id="hmin" name="hmin" type="text" placeholder="hmin"  value="{{hmin}}"   >  - нижнее пороговое значение влажности воздуха (%)  </br>
        </br>
        <input id="hmax" name="hmax" type="text" placeholder="hmax"  value="{{hmax}}"   >  - верхнее пороговое значение влажности воздуха (%)  </br>
        </br>

        <input id="gmin" name="gmin" type="text" placeholder="gmin"  value="{{gmin}}"   >  - нижнее пороговое значение концентрации газа (ppm)  </br>
        </br>
        <input id="gmax" name="gmax" type="text" placeholder="gmax"  value="{{gmax}}"   >  - верхнее пороговое значение концентрации газа (ppm)  </br>
        </br>

        <hr>

        <input class="btn btn-primary" type="submit" value="Сохранить"> {{msg}}

        <hr>
    </form>

    </div>

{% else %}
       Для продолжения требуется авторизация
{% endif %}






{% endblock %}