{% extends 'base.html' %}

{% block title %}Датчики{% endblock %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.2.min.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.2.min.css"/>


<table width="1150" border="0">
        <tr>
             <td>
                Данные телеметрии c {{date_first}} по {{date_last}} (UTC) | {{name_cow }} | {{nabobj_name}} </br>
                Температура {{t_last}}<sup>o</sup> |
                Влажность  {{h_last}}% |
                Концентрация {{gas_name}}  {{CO2_last}} ppm |

                Всего измерений {{len_all}}

{{ div | safe }}

    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-2.3.2.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-widgets-2.3.2.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-tables-2.3.2.min.js"></script>
    <script type="text/javascript" src="https://cdn.bokeh.org/bokeh/release/bokeh-api-2.3.2.min.js"></script>


{{ script | safe }}

          </td>
          <td>
                <ul>
                    <li>
                        {% url 'ai:nabobj' as url_nabobj %}
                        <a class = " nav_link {% if url_nabobj == request.path %}activate{% endif %} " href = "{{url_nabobj}}"> Наблюдаемые объекты</a>
                    </li>

                    <li>

                        {% url 'ai:test_js3_page' name_cow chisizm as url_test_js3 %}
                         <! <a href="{% url 'ai:test_js3_page' 'Mumuka' 150 %}"> <!Мониторинг_3 (автообновление)</a>
                         <a class = " nav_link {% if url_test_js3 == request.path %}activate{% endif %} " href = "{{url_test_js3}}"> Мониторинг(автообновление)</a>

                    </li>


                    {% if request.user.is_superuser %}
                    <li>
                        {% url 'ai:starter' Mumuka as url_ai_starter %}
                         <a class = " nav_link {% if url_ai_starter == request.path %}activate{% endif %} " href = "{{url_ai_starter}}"> Мониторинг</a>
                    </li>
                    <li>
                         {% url 'ai:show' as url_ai_show %}
                         <a class = " nav_link {% if url_ai_show == request.path %}activate{% endif %} " href = "{{url_ai_show}}"> Телеметрия</a>
                    </li>
                    {% endif %}


                        <hr>

                          <form action = "{% url 'ai:cows_page' name_cow 1000 %}" method = "POST">
                            {% csrf_token %}

                             <input id="chisizm" name="chisizm" type="text" placeholder="Число измерений" value="{{chisizm}}">   </br>
                            <input class="btn btn-primary" type="submit" value="Отобразить">
                          </form>



                </ul>

                </td>
        </tr>

    </table>

<hr>

<b>влажность(h) </b> </br>
медианная : {{h_median}}%  </br>
средняя   : {{h_mean}}% </br>
стд. откл.: {{h_std}}% </br>

<b>концентрация газа(g)</b> </br>
медианная : {{g_median}} ppm  </br>
средняя   : {{g_mean}} ppm </br>
стд. откл.: {{g_std}} ppm </br>

<b>коэффициент корреляции (h, g) = {{corr_h_g}}</b> </br>
<hr>

{{ div2 | safe }}
{{ script2 | safe }}
<hr>
<b>температура(t) </b></br>
медианная : {{t_median}}<sup>o</sup>С  </br>
средняя   : {{t_mean}}<sup>o</sup>С </br>
стд. откл.: {{t_std}}<sup>o</sup>С </br>

<b>влажность(h) </b> </br>
медианная : {{h_median}}%  </br>
средняя   : {{h_mean}}% </br>
стд. откл.: {{h_std}}% </br>
<b>коэффициент корреляции (t, h) = {{corr_t_h}}</b> </br>

<hr>

{{div3 | safe}}
{{script3 | safe}}
<hr>

<b>температура(t) </b></br>
медианная : {{t_median}}<sup>o</sup>С  </br>
средняя   : {{t_mean}}<sup>o</sup>С </br>
стд. откл.: {{t_std}}<sup>o</sup>С </br>

<b>концентрация газа(g)</b> </br>
медианная : {{g_median}} ppm  </br>
средняя   : {{g_mean}} ppm </br>
стд. откл.: {{g_std}} ppm </br>
<b>коэффициент корреляции (t, g) = {{corr_t_g}}</b> </br>

<hr>

{{div4 | safe}}
{{script4 | safe}}
<hr>

<b>матрица корреляции(t, h, g) = {{corr_t_h_g}}</b> </br>
<hr>

<h4>Иерархическая кластеризация наблюдаемой выборки измерений</h4>
</br>


{{div5 | safe}}
{{script5 | safe}}

Число кластеров = {{clusters}}

<hr>

<img src="data:image/png;base64,{{graphic|safe}}">

</br>
<hr>
  {{latest_data_list.meter_title}}

                            {% if metter_of_buryonka %}
                                {% for c in metter_of_buryonka %}
                                    <p>
                                        {{name_cow}} | {{c.meter_datetime |date:"Y-m-d H:i:s"}} | температура={{c.meter_temperature}}<sup>o</sup> | влажность={{c.meter_humidity}}% | {{gas_name}}={{c.meter_CO2}} ppm </br>
                                    </p>
                                {% endfor %}

                            {% else %}
                                    Измерения не найдены.
                            {% endif %}


    </hr>







{% endblock %}
