<!DOCTYPE html>
{% load static %}


<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>AGA Sensors</title>

	<link href="{% static 'ai/examples.css'%}" rel="stylesheet" type="text/css">
	<script language="javascript" type="text/javascript" src="{% static 'ai/source/jquery.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'ai/source/jquery.canvaswrapper.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'ai/source/jquery.colorhelpers.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'ai/source/jquery.flot.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'ai/source/jquery.flot.saturated.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'ai/source/jquery.flot.browser.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'ai/source/jquery.flot.drawSeries.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'ai/source/jquery.flot.uiConstants.js' %}"></script>
	<script language="javascript" type="text/javascript" src="{% static 'ai/source/my_script_2.js' %}" param_a = "{{meter_title}}" param_b = "{{chisizm}}" ></script>


</head>
<body>


	<h3>Наблюдаемый объект {{meter_title}} </h3>
	<br>
	<hr />

	<div id="header">
		<h4>Текущие значения температуры, (<sup>o</sup>C) </h4>
	</div>

	<div id="content">

		<div class="demo-container">
			<div id="placeholder" class="demo-placeholder"></div>
		</div>

		<h4>Текущие значения влажности, (%) </h4>


		<div class="demo-container">
			 <div id="placeholder_2" class="demo-placeholder"></div>
		</div>

		<h4>Текущие значения концентрации газа, ppm</h4>

		 <div class="demo-container">
			 <div id="placeholder_3" class="demo-placeholder"></div>
		 </div>




		<p>Здесь можно наблюдать значения измеряемых параметров в реальном времени </p>

		<p>Данные обновляются автоматически</p>

	</div>


	<div id="footer">
		Copyright &copy; 2007 - 2014 IOLA and Ole Laursen
	</div>

</body>
</html>